.menu {
    position: relative;
    /* TODO(sjmiles): why is this necessary? */
    overflow-x: hidden;
    background-color: rgb(221, 221, 221);
}

.menu-toolbar {
    height: 50px;
    z-index: 1;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.menu-toolbar::shadow #topBar {
    height: 48px;
}

.gibdd-avatar {
    border-radius: 50%;
    overflow: hidden;
    height: 64px;
    width: 64px;
}


.menu-bg-wrapper core-icon {
    height: 100%;
    width: 100%;
    max-width: 128px;
    max-height: 128px;
}

.menu-list {
    display: block;
    position: absolute;
    top: 50px;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 2px 0;
    margin: 0 -2px;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

.user-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.menu-item {
    position: relative;
    float: left;
    vertical-align: top;
    width: 50%;
    height: 224px;
    /*
     * TODO(dfreedm): force items to be layers until
     * overflow scrolling renders correctly
     */
    will-change: transform;
}

.menu-item[needZ] {
    z-index: 10000; /* need this for will-change */
}

.menu-item.completed {
    pointer-events: none;
}

.tile {
    position: relative;
    margin: 2px;
}

.menu-tile-bg {
    position: absolute !important;
}

.menu-bg-wrapper {
    /*width: 80%;*/
    /*height: 80%;*/
    width: 128px;
    height: 128px;
}

.completed .menu-bg-wrapper {
    width: 96px !important;
    height: 96px !important;
}

.cat-name {
    height: 48px;
    padding: 0 16px;
    font-size: 18px;
    font-family: "RobotoDraft", sans-serif;
}

.tickets, .rules, .signs, .marking, .penalty {
    color: #fff;
}

.tickets .theme-bg-a, .rules .theme-bg-a, .signs .theme-bg-a, .marking .theme-bg-a, .penalty .theme-bg-a {
    background-color: #f5f5f5;
}

.tickets .cat-name {
    background-color: #1de9b6;
}

.rules .cat-name {
    background-color: #147FDB;
}

.signs .cat-name {
    background-color: #C61E00;
}

.marking .cat-name {
    background-color: #999;
}

.penalty .cat-name {
    background-color: #ffeb3b;
}

.polymer-logo > .tile {
    background-color: #eee;
}

.polymer-logo core-icon {
    width: 100%;
    height: 100%;
}

/* wide layout */
.wide.menu-list {
    padding: 4px 0;
    margin: 0 -4px;
    /* need to avoid transitioning elemnents causing scrollbars to appear */
    overflow-y: hidden;
}

.wide .menu-item > .tile {
    margin: 4px;
}

.wide .menu-item {
    width: calc(100% / 3);
    height: calc(100% / 2);
}

/*.wide .menu-item:nth-of-type(1) {*/
    /*width: calc(100% / 3);*/
    /*height: calc(100% / 3 * 2);*/
/*}*/

/*.wide .menu-item:nth-of-type(1) .menu-bg-wrapper {*/
    /*width: 64%;*/
    /*height: 64%;*/
/*}*/

/*.wide .menu-item:nth-of-type(4) {*/
    /*width: calc(100% / 3);*/
/*}*/

/*.wide .menu-item:nth-of-type(4) .menu-bg-wrapper {*/
    /*width: 100%;*/
    /*height: 100%;*/
/*}*/

/*.wide .menu-item:nth-of-type(5) {*/
    /*width: calc(100% / 3);*/
    /*height: calc(100% / 3 * 2);*/
/*}*/

/*.wide .menu-item:nth-of-type(9) {*/
    /*position: absolute;*/
    /*top: calc(100% / 3 * 2);*/
    /*left: 0;*/
    /*width: calc(100% / 6);*/
    /*height: calc(100% / 3 - 4px);*/
/*}*/

/*.wide .menu-item:nth-of-type(10) {*/
    /*position: absolute;*/
    /*top: calc(100% / 3 * 2);*/
    /*left: calc(100% / 6);;*/
    /*width: calc(100% / 6);*/
    /*height: calc(100% / 3 - 4px);*/
/*}*/